
@import "tailwindcss";

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out;
}

/* Optional global bg transition for smooth dark/light toggle */
/* html {
  transition: background-color 0.3s, color 0.3s;
} */
html {
  color-scheme: light dark;
  transition: background-color 0.4s ease, color 0.4s ease;
}
/* Custom Sidebar Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent; /* blue thumb */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* blue-600 */
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #60a5fa; /* lighter blue for dark mode */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* darker blue on hover */
}
