# Node modules
/client/node_modules/
/server/node_modules/

# Environment files
/client/.env
/server/.env

# Build folders
/client/dist/
/server/build/

# Logs
*.log
logs/

# OS / Editor files
.DS_Store
.vscode/
.idea/
Thumbs.db

# Uploads / temporary files
server/uploads/
